:root {
    // --primary-color: #c59e42;
    --primary-color: 197, 158, 66;
    --primary-font: 'Exo', sans-serif;
    --secondary-font: "DM Serif Display", sans-serif;
}

html {
    min-height: calc(100% + env(safe-area-inset-top));
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.App {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .sehri & {
        background: url('../../public/sunset-bg.jpg') no-repeat center center /cover;

    }

    .iftar & {
        background: url('../../public/sunrise-bg.jpg') no-repeat center center /cover;
    }
}


.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    font-family: var(--primary-font);
    background-color: rgb(var(--primary-color));
    color: white;
    padding: 20px;
    @media (min-width: 500px) {
        padding: 10px;
    }
    .footer-wrapper{
        
        align-items: center;
        justify-content: space-between;
        @media (min-width: 500px) {
            display: flex;
            width: min(100vw - 40px, 1170px);
            margin-inline: auto;
            flex-direction: row-reverse;
        }
        
        h1 {
            text-align: center;
            font-weight: 700;
            margin-bottom: 20px;
            @media (min-width: 500px) {
                text-align: left;
                margin-bottom: 0;
            }
        }
        .method {
            font-size: 12px;
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Exo', sans-serif;
            background-color: white;
            color: rgb(var(--primary-color));
            border-bottom: 1px solid;
            @media (min-width: 600px) {
                right: 20px;
                border-bottom: none;
            }
            & > h3 {padding: 0 10px;}
            select {
                font-family: 'Exo';
                text-overflow: ellipsis;
                white-space: nowrap;
                color: rgb(var(--primary-color));
                padding: 6px;
                border:none;
                border-radius: 0;
                width: 100%;
                border-left: 1px solid;
                background-color: white;
                text-align: center;
                @media (min-width: 500px) {
                    max-width: 220px;
                    text-align: left;
                }
            }
        }
        .footer-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 15px;
            @media screen and (min-width: 600px) { margin-top: 0px; }
            border: 1px solid;
            .date {
                padding: 0 20px;
                .day {
                    font-size: 3.3rem;
                    font-family: var(--secondary-font);
                }
                .month {
                    font-size: .7rem;
                }
            }
            & >  * {
                
            }
            & > p {
                padding: 30px 20px;
                font-size: .8rem;
                &.center {
                    border-left: 1px solid;
                    border-right: 1px solid;
                }
            }
        }
    }
}


.box {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #ababab;
}

.box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media screen and (min-width:600px){
    
}