.manual-location-trigger {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px;
    border: 1px solid white;
    background-color: rgb(var(--primary-color));
    color: #fff;
    font-family: var(--primary-font);
    z-index: 20;

    &[data-close-button='true'] {
        top: 20px;
        bottom: unset;
        width: 50px;
        border-radius: 30px;
        font-size: 1.3rem;
    }
}

.manual-location-selction {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    padding: 20px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.136));
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 10;

    &.open {
        display: block;
    }

    .manual-location-heading{
        font-size: 2rem;
        font-family: var(--secondary-font);
        color: rgb(var(--primary-color));
        padding: 50px 0;
    }

    .container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        @media screen and (min-width: 600px) {
            flex-direction: row;
        }
        select {
            font-family: "Exo";
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(var(--primary-color));
            padding: 6px;
            border: none;
            border-radius: 0;
            width: 100%;
            border: 1px solid;
            background-color: white;
        }
        button {
            border: 1px solid white;
            background-color: rgb(var(--primary-color));
            color: #fff;
            font-family: var(--primary-font);
            padding: 10px;
            &[disabled] {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }

}