@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=DM+Serif+Display&display=swap');

.box-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    .skelaton {
        max-width: 90%;
        background: rgb(255 255 255 / 30%);
        height: 200px;
        width: 100%;
        margin: 30px 0;
        border-radius: 3px;
        animation: pulse 1.5s ease infinite;
    }
}

@keyframes pulse {
    0% {opacity: 1;}
    50% {opacity: .4;}
    100% {opacity: 1;}
}

.timer-wrapper{
    // background: url(../images/bg.jpg) repeat;
    // min-height: 100vh;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    flex: 1;
    background-size: 47%;
    @media (min-width: 600px) {
        background-size: auto;
    }
}

.city-country{
    /* font-size: 20px;
    color: #c59e41;
    background: white;
    position: absolute;
    top: 0%;
    transform: translateY(125%); */
    
    /* for map icon */
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: none;
        @media (min-width: 500px) {
            display: inline;
        }
    }
}

.city-country svg {
    margin-right: 5px;
}

.footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--primary-color));
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    grid-gap: 5px;
    font-family: 'Exo', sans-serif;
    color: white;

    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));;
    grid-gap: 0px;
}

// .footer > .footer-parts {

// }

/* .city-country p{
    padding: 10px 20px;
    border: 1px solid;
} */

.time_and_date {
    .date {
        display: flex;
        font-family: var(--primary-font);
        margin-bottom: 10px;
        font-size: .9rem;

        .day {
            background-color: rgb(var(--primary-color));
            color: white;
            padding: 10px;
            font-family: var(--secondary-font);
        }

        .month {
            padding: 10px;
            color: rgb(var(--primary-color));
            border: 1px solid;
            background-color: white;
        }
    }
}

.floating-box{
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0,0,0,.1);
    font-size: 17px;
    font-family: var(--secondary-font);
    max-width: 90%;
    width: 100%;
    margin: 30px 0;
    border: 2px solid rgb(var(--backdrop-color));
    box-sizing: border-box;
}

.floating-box .heading{
    font-size: 1.7rem;
    color: #fff;
    padding: 20px;
    background: transparent;
    border-bottom:2px solid rgb(var(--backdrop-color));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo', sans-serif;
    padding: 30px 10px;
}

.timer .tm-parts {
    padding: 6px;
    background: rgba(var(--backdrop-color), .25);
    border-radius: 3px;
    margin: 2px 0;
    width: 100%;
    max-width: 67px;
    min-width: 67px;
    color: rgb(var(--backdrop-color));
    // border: 2px solid rgba(197, 158, 64, 0.12);
}

.tm-parts p{
    font-size: 50px;
}

.tm-parts span{
    font-size: 12px;
}

@media screen and (min-width:600px){

    /* .timer-wrapper{
        min-height: 90vh;
    } */

    .floating-box{
        max-width: 100%;
        width:580px;
    }

    .floating-box .heading{
        font-size: 45px;
    }

    .timer{
        padding: 30px;
    }

    .timer .tm-parts {
        padding: 15px;
        max-width: 156px;
        min-width: 126px;
        // color: rgb(var(--primary-color));
        margin: 0 7px;
    }

    .tm-parts p{
        font-size: 100px;
    }

    .tm-parts span{
        font-size: 17px;
    }
}